<h2><%= @beer_club.name %>, <%= @beer_club.city %></h2>

<p>
  Founded <%= @beer_club.founded %>
</p>


<p><strong>Members</strong></p>
<ul>
	<% @beer_club.members.each do |member| %>
	<li><%= link_to member.username, member %></li>
	<% end %>
</ul>

<% if current_user %>
	<% unless @beer_club.members.include? current_user %>
	 <%= form_for(@membership) do |f| %>
	    <%= f.hidden_field :beer_club_id %>
	    <%= f.submit value:"Join the club" %>
	 <% end %>
	 <br>

	 <%= link_to 'Edit', edit_beer_club_path(@beer_club) %>
	<% end %>
<% end %>