<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>
<p>
  <i>Established year: <%= @brewery.year %></i> 
</p>

<p>Has currently <%= @brewery.beers.count %> <% if @brewery.beers.count < 1 %> 
brand
<% else %>
brands
<% end %> of beer listed:
</p>

<ul>
<% @brewery.beers.each do |beer| %>
	<li><%= link_to beer.name, beer %></li>
<% end %>
</ul>

<p>
<% if @brewery.ratings.empty? %>
	No ratings given
<% else %>
	<%= "Has "+pluralize(@brewery.ratings.count, 'rating','ratings')+". The average ratings is #{@brewery.average_rating}" %>
<% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>
