<h2> <%= @beer %> </h2>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
	<% if @beer.ratings.empty? %>
	 beer has not yet been rated!
	<% else %>
	 Has <%= pluralize(@beer.ratings.count,'rating','ratings') %>, average <%= @beer.average_rating %>
	<% end %>
</p>

<% if current_user %>

  <h4>Give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    Score: <%= f.number_field :score %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Edit', edit_beer_path(@beer) %>

<% end %>